.transactions-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.transaction-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;

  border-bottom: 1px dotted #d4d4d5;
}

.transaction-item__date {
  text-align: center;
  flex: 1 1;
  white-space: nowrap;
  color: #7c7c7d;
}
.recent-trans-container {
  max-width: 800px;
  margin: 0 auto;
}
.custom-badge {
  display: inline-block;
  line-height: 1;
  vertical-align: initial;
  margin: 0 0.14285714em;
  background-color: #e8e8e8 !important;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: 0.28571429rem;
}

.transaction-item__info-wrapper {
  flex-basis: calc(100% - 270px);
}

.transaction-item__info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.transaction-item__note {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.transaction-item__amount {
  flex-basis: 120px;
  text-align: right;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.transaction-item__edit {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 46.5px;
  height: 36px;
  
}

.transaction-item__edit button {
  background-color: transparent;
  border: 1px solid rgb(231, 226, 226);
  border-radius: 50%;
  padding: 0;
  height: 2rem;
  width:2rem;
}

.transaction-item__edit button:focus {
  outline: none;
}